/* Make active tab links bold in notebooks */
.nav-link.active {
    font-weight: 600;
    background: linear-gradient(to bottom, #acacac20, white);
    /* background: linear-gradient(to bottom, var(--link-color) 0%, var(--link-color) 7%, #acacac44 7%, transparent 100%) */
}
.o_search_panel_counter {
    font-weight: 700;
}

.o-paragraph {
    margin-bottom: 0.5em;
}

/* Improve HTML field look */

.o_field_html div {
    margin-bottom: 0.5em;
}

.o_field_html .alert li {
    margin-bottom: 0.5em;
}
/* Limit the width of images in HTML fields. For small images on big screens they get ridiculously wide */
.img-fluid {
    max-width: 1000px !important;
    width: 100% !important;
}